name = "api-workers"
compatibility_date = "2024-02-08"
compatibility_flags = ["nodejs_compat"]

[vars]
CORS_ORIGINS = ${jsonencode(cors_origins)}

[[routes]]
pattern = "${api_domain}/*"
zone_id = "${zone_id}"

[[hyperdrive]]
binding = "HYPERDRIVE"
id = "${hyperdrive_id}"
